.main-nav {
    width: 100%;
    background-color: #500258;
  }
  
  .main-nav ul {
    margin: 0;
    padding: 0;
    width: 60%;
    list-style: none;
    line-height: 1;
    display: flex;
  }
  
  .main-nav li {
    flex: 1;
  }
  
  .main-nav a {
    color: #fcfcfc;
    text-decoration: none;
    display: block;
    line-height: 50px;
    font-size: 1.1em;
    padding: 0;
    text-align: center;
  }

  .main-nav li a {
    border-right: 3px solid #e1e1e1;
  }

  .main-nav a.active {
    background-color: rgba(237, 160, 229, 0.522);
  }

  .main-nav a:hover,
  .main-nav a:focus,
  .main-nav a:active {
    background-color: rgba(237, 160, 229, 0.522);
  }